<div ng-controller="addition" class="zwb_box">
	<h1>到期提醒</h1>
	<div class="zwb_main">
		<div>
			<p>即将到期的租客</p>
			<div ng-show="zanwu">
				<span class="glyphicon glyphicon-time"></span>
				<p>暂无即将到期的租客</p>
			</div>
			<ul ng-show="daoqi">
				<li ng-repeat="i in arr">
					<div>
						<span class="glyphicon glyphicon-user"><i>{{i.xingming}}</i></span>
						<span>{{i.fangjianhao}}</span>
					</div>
					<p>联系电话：<span>{{i.lianxidianhua}}</span></p>
					<p>入住人数：<span>{{i.renshu}}</span>人</p>
					<p>租期：<span>{{i.ruzhushijian | date:'yyyy-MM-dd'}}</span><span>至</span><span>{{i.daoqishijian | date:'yyyy-MM-dd'}}</span></p>
					<p>距到期日：<span>{{ary[$index]}}</span>天</p>
					<div>
						<a href="javascript:;">续租</a>
						<a href="javascript:;">删除</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
